.cbtn {
  background: #fff;
  border: 1px, solid, black;
  border-width: thin;
  color: black;
  padding: 8px 16px;
  font-family: "Roboto";
  font-stretch: condensed;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}
.cbtn.active {
  background: black;
  color: #fff;
}

.cbtn:hover {
  background: #000;
  color: #fff;
}

/* Header */
.nav-brand {
  font-family: "Roboto Condensed";
  color: "white";
  font-weight: 700;
}

/* Footer */
.site-footer {
  background-color: #212121;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #bbb;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #d0d0d0;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
  font-family: "Roboto";
  font-stretch: condensed;
  color: #ffff;
  opacity: 0.5;
}

.footer-bootom-link {
  margin: 0;
  font-family: "Roboto";
  font-stretch: condensed;
  color: #ffff;
  opacity: 0.5;
}

.footer-bootom-link .a {
  color: #d1d1d1;
}

.footer-title {
  font-family: "Roboto Condensed";
  color: #fff;
  opacity: 0.8;
  font-stretch: extra-condensed;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* Poster */
.poster {
  width: 250px;
  height: 375px;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .poster {
    width: 130px;
    height: 195px;
  }
}

.movie-details {
  font-family: "Roboto";
}

.movie-details .title {
  font-weight: 600;
  color: #000;
}

.btn-dark,
.btn-dark:active,
.btn-dark:visited {
  background-color: #000 !important;
}

.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.897) !important;
}

.btn-circle {
  width: 36px;
  height: 36px;
  padding: 6px 0px;
  border-radius: 18px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
}

.btn-circle:hover {
  background-color: rgba(0, 0, 0, 0.897) !important;
}

.secondary {
  background: #212121;
  color: white;
}

.primary {
  background: #000;
  color: white;
}

.heading {
  font-family: "Roboto Condensed", sans-serif;
}

.trailer-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.trailer-container .player {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.trailer-body {
  margin: 0;
  padding: 0;
}
/* Login */
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.LoginBorder {
  border: 1px solid black;
  padding-bottom: 1em;
  padding-top: 3em;
  margin: 0 0;
}

.font-text {
  font-family: "Roboto", sans-serif;
}
.font-rc {
  font-family: "Roboto ", sans-serif;
  font-stretch: semi-condensed;
}

.showmore {
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}
.showmore:hover {
  color: gray;
}
.showtime-container {
  width: -moz-fit-content;
  width: fit-content;
  background: #212121;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  display: inline-flexbox;
}

.showtime-date {
  margin-top: 4px;
  margin-bottom: 4px;

  margin-right: 20px;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
  background: #ffff;
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.showtime-date:hover {
  background: #e1e1e1;
  border-top: 1px solid #d0d0d0;
}

.session-container {
  cursor: pointer;
  margin: 4px;
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
}

.session-container .session {
  background: #000;
  padding: 12px;
  color: #fff;
}

.session-container .session:hover {
  background: #212121;
  padding: 12px;
  color: #fff;
}

.session-container .attribute {
  color: #000;
  margin-right: 3px;
  padding: 12px;
  margin-left: 0 !important;
  border: 1px, solid, #000;
  display: inline-flex;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .register-line {
    width: 90%;
  }
  .input-style {
    margin-left: 10px;
    margin-right: 10px;
  }
  #btn-size {
    width: 94%;
    margin-left: 9px;
    text-align: center;
  }
  .left-margin-text {
    margin-left: 10px;
  }
  .top-margin-header {
    margin-top: 20px;
  }
  .bottom-margin-header {
    margin-bottom: 20px;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .register-line {
    width: 100%;
  }
  .input-style {
    margin-left: 0px;
    margin-right: 0px;
  }
  #btn-size {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
  .left-margin-text {
    margin-left: 0px;
  }
  .top-margin-header {
    margin-top: 0px;
  }
  .bottom-margin-header {
    margin-bottom: 0px;
  }
}
input[type="text"] {
  border: 1px solid black;
}
input[type="password"] {
  border: 1px solid black;
}
input[type="email"] {
  border: 1px solid black;
}
input[type="date"] {
  border: 1px solid black;
}

.cast-container {
  width: 300px;
  height: 500px;
}

/* Slider Movie Details */

.movie-poster {
  width: 220px;
  height: 300px;
  border-radius: 4px;
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.movie-container {
  max-width: 220px;
  margin: 8px;
  font-size: 11px;
  display: flex;
}

/* .movie-container:focus-within .movie-poster,
.movie-container:hover .movie-poster {
  transform: translateX(-25%);
} */

.movie-poster:focus ~ .movie-poster,
.movie-poster:hover ~ .movie-poster {
  transform: translateX(25%);
}

.movie-container .movie-poster:focus,
.movie-container .movie-poster:hover {
  transform: scale(1.1);
  z-index: 1;
}

/* .movie-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */

/* RATING CSSS */
body {
  background: #ebefff;
}

.wrap {
  width: 250px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.stars {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}
.star {
  color: #91a6ff !important;
}
.rate {
  height: 50px;
  margin-left: -5px;
  padding: 5px;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}
.rate input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  pointer-events: none;
}
.star-over::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 16px;
  content: "\f005";
  display: inline-block;
  color: #d3dcff;
  z-index: 1;
  position: absolute;
  top: 17px;
  left: 10px;
}

.rate:nth-child(1) .face::after {
  content: "\f119"; /* ☹ */
}
.rate:nth-child(2) .face::after {
  content: "\f11a"; /* 😐 */
}
.rate:nth-child(3) .face::after {
  content: "\f118"; /* 🙂 */
}
.rate:nth-child(4) .face::after {
  content: "\f580"; /* 😊 */
}
.rate:nth-child(5) .face::after {
  content: "\f59a"; /* 😄 */
}
.face {
  opacity: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  background: #91a6ff;
  border-radius: 5px;
  top: -50px;
  left: 2px;
  transition: 0.2s;
  pointer-events: none;
}
.face::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0dd";
  display: inline-block;
  color: #91a6ff;
  z-index: 1;
  position: absolute;
  left: 9px;
  bottom: -15px;
}
.face::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  color: #fff;
  z-index: 1;
  position: absolute;
  left: 5px;
  top: -1px;
}

.rate:hover .face {
  opacity: 1;
}

/* Not sure if I like this or not. */
/* Makes the emoji stay displayed */
/* input[type="radio"]:checked + .face {
	opacity: 1 !important;
} */

.slider {
  position: relative;
  width: 100%;
  height: 310px;
  padding: 0;
  background-color: gray;
  /* margin: 115px auto 0; */
}

.slider > ul {
  list-style: none;
  position: relative;
  width: 100%;
  height: 310px;
  margin: 0;
  padding: 0;
}

.slider > ul > li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  padding: 0;
  border: none;
  width: 55%;
  height: 310px;
  background-color: #333;
  cursor: pointer;
}

.slider > ul > li > img {
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: center;
}
